

.section-custom{
    color: #edf5e1;
    font-family: 'Open Sans', sans-serif !important;
}
.bg{
    background-color:#5cdb95;
}
.color-new{
    color: #05386b;
}
body{
    color: #05386b;
}
.jumbotron{
    padding-top: 6rem;
    background-color: #5cdb95;
}
#projects{
    background-color: #edf5e1;
}
#contact{
    background-color: #5cdb95;
}
section{
    padding-top: 5rem;
}
#click {
    cursor: pointer
}
#techstack{
    background-color: #5cdb95;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-link{
    text-decoration: none;
    color: black;
    position: relative;
}
.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 0px;
    border-radius: 2px;
    background-color: #eae8dc;
    transition: 0.4s ease;
}
.nav-link:hover::after{
    width: 100%;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{

    font-family: 'Teko', sans-serif;
    color: #05386b;

 }